.homeScreenTitle{
    height: 100vh;
    width: 100%;
    font-size: 50px;
    font-weight: 600;
    position: relative;
}

.homeScreen{
    height: 100vh;
    width: 100%;
    font-size: 40px;
}

.homeLogo{
    width: 15%;
    height: 15%;
    position: absolute;
    right: 5%;
    top: 0%;
}

.homeLogo img{
    width: 100%;
    height: auto;
}

.centerElements{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.leftElements{
    position: absolute;
    top: 47%;
    left: 5%;
    transform: translate(0%, -50%);
    text-align: left;
}

.rightElements{
    position: absolute;
    top: 50%;
    right: 7.5%;
    font-size: 75px;
    transform: translate(0%, -50%);
}

.leftElements p{
    margin: 0;
    padding: 0;
}

.whatsappSection{
    margin-top: 5%;
}

/*****/

.ultimosProyectos{
    margin-top: 5%;
    padding-top: 5%;
    height: 100vh;
    width: 100%;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    position: relative;
}

.aboutMeTitle{
    position: absolute;
    top: 15%;
    left: 5%;
    font-size: 100px;
}

.aboutMeContent{
    position: absolute;
    left: 40%;
    bottom: 5%;
    width: 60vw;
    height: 80vh;
}

.aboutMeContent section{
    margin: 0  !important;
}

.aboutMeData {
    position: absolute;
    left: 5%;
    bottom: 5%;
    width: 32vw;
    height: 70vh;
    text-align: left;
    font-size: 30px;
    color: white;
}

