.projectViewer{
    position: relative;
    width: inherit;
    height: inherit;
}

.focusImage{
    max-height: 100%;
    max-width: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.rightContent{
    position: absolute;
    right: 0%;
    height: 100%;
    width: 45%;
    padding-left: 5%;
    text-align: left;
    color: white;
}

.projectTitle{
    font-size: 25px;
    font-weight: 700;
}

.projectLink{
    color: white;
}