.homeScreenTitle{
    height: 100vh;
    width: 100%;
    position: relative;
}

.titleSection{
    position: absolute;
    top: 10vh;
    right: 5%;
    font-weight: 600;
    font-size: 100px;
}

.projectSectionsButtons{
    position: absolute;
    left: 10%;
    top: 15vh;
}

.projectFocus{
    position: absolute;
    left: 50%;
    top: 30vh;
    height: 50vh;
    min-height: 500px;
    width: 80vw;
    transform: translate(-50%, 0);
}

.projectsList{
    margin-top: 90vh;
    margin-bottom: 10vh;
}

.leftProjectArrow{
    z-index: 20;
    position: absolute;
    left: 2%;
    top: 45vh;
}

.rightProjectArrow{
    z-index: 20;
    position: absolute;
    right: 2%;
    top: 45vh;
}

@media screen and (min-width : 900px) and  (max-width : 1200px) {
    .titleSection{
        font-size: 70px;
    }


}

@media screen and (min-width : 700px) and  (max-width : 900px) {
    .titleSection{
        font-size: 50px;
    }
}

@media screen and (max-width : 700px) {
    .titleSection{
        font-size: 30px;
    }

    .projectsList{
        margin-top: 140vh;
        margin-bottom: 10vh;
    }

    .projectFocus{
        top: 30vh;
        height: 90vh;
        min-height: 1000px;
        width: 100vw;
    }

    .projectSectionsButtons{
        position: absolute;
        left: 50%;
        top: 25vh;
        transform: translate(-50%, 0);
        width: 100%;
    }
}

@media screen and (min-width : 700px) and  (max-width : 1000px) {
    .projectFocus{
        top: 30vh;
        height: 90vh;
        min-height: 1000px;
        width: 100vw;
    }

    .projectsList{
        margin-top: 150vh;
        margin-bottom: 10vh;
    }

    .projectSectionsButtons{
        position: absolute;
        left: 50%;
        top: 25vh;
        transform: translate(-50%, 0);
        width: 100%;
    }
}