.homeScreenTitle{
    height: 100vh;
    width: 100%;
    position: relative;
}

.titleSection{
    position: absolute;
    top: 10vh;
    right: 5%;
    font-weight: 600;
    font-size: 100px;
}

.projectFocus{
    position: absolute;
    left: 50%;
    top: 30vh;
    height: 50vh;
    width: 80vw;
    transform: translate(-50%, 0);
}