.App {
  text-align: center;
  font-family: 'RocknRoll One', sans-serif;
}

.Background{
  z-index: -1;
}

.QueparRed{
  color: #E06566;
}

.QueparBlue{
  color: #286BB0FF;
}

.QueparGrey{
  color: #EFEFEF;
}

.QueparBlack{
  color: #434343;
}
